---
import BaseLayout from "../layouts/BaseLayout.astro";
import BreadCalc from "../components/BreadCalc.astro";
import InputField from "../components/InputField.astro";
import Button from "../components/Button.astro";

const title = "Bread calculator";
---

<BaseLayout title={title}>
    <form onsubmit="event.preventDefault();">
        <InputField
            id="flour"
            label="Hvor stort et brød vil du slå op?"
            type="number"
            placeholder="Hvor mange g mel?"
            autofocus="autofocus"
            required="required"
        />
        <InputField
            id="hydration"
            label="Hydation"
            placeholder="Hvor mange % vand?"
            type="number"
            required="required"
        />
        <Button
            type="submit"
            onClickJs="recipe()"
            content="Få opskrift"
        />
    </form>
    <div id="recipe" class="prose"></div>

    <BreadCalc />
</BaseLayout>