---
import BaseLayout from "../layouts/BaseLayout.astro";
import BreadCalc from "../components/BreadCalc.astro";

const title = "Brød";
---

<BaseLayout title={title}>
    <h1>Brød</h1>
    <p>Hvor stor et brød vil du slå op?</p>

    <form onsubmit="event.preventDefault();" class="md:flex md:gap-4 md:items-end">
        <label for="flour" class="block">Hvor meget mel?<br />
            <input type="number" id="flour" class="my-2" placeholder="Angiv i gram" required>
        </label>
        <label for="hydration" class="block">Hvilken hydration?<br />
            <input type="number" id="hydration" class="my-2" placeholder="Angiv i procent" required>
        </label>
    </form>
    
    <h3>Opskrift</h3>
    <ul>
        <li>Mel: <span id="doughFlour">-</span> g</li>
        <li>Vand: <span id="water">-</span> g</li>
        <li>Surdej (30%): <span id="sourdough">-</span> g</li>
        <li>Salt (3%): <span id="salt">-</span> g</li>
    </ul>
    <p>Dejens vægt: <span id="totalWeight">-</span> g</p>

    <BreadCalc />
</BaseLayout>