---
import BaseLayout from "../layouts/BaseLayout.astro";
import PizzaCalc from "../components/PizzaCalc.astro";
import InputField from "../components/InputField.astro";
import Button from "../components/Button.astro";

const title = "Pizza calculator";
---

<BaseLayout title={title}>
  <form onsubmit="event.preventDefault();">
    <InputField
      id="pizze"
      label="Hvor mange pizzaer?"
      type="number"
      autofocus="autofocus"
      required="required"
    />
    <InputField
      id="size"
      label="Hvor store skal de være (i gram) ?"
      type="number"
      value="230"
      required="required"
    />
    <InputField
      id="hydration"
      label="Hvor meget vand (hydration-%)?"
      type="number"
      value="65"
      required="required"
    />
    <Button type="submit" onClickJs="recipe()" content="Få opskrift" />
  </form>
  <div id="recipe" class="prose"></div>

  <div class="prose">
	<hr class="my-8 border-1 border-slate-300" />
	<p>
	  <a href="https://www.youtube.com/watch?v=G-jPoROGHGE"
		>Se hvordan dejen laves og pizzaerne formes her &rarr;</a
	  >
	</p>
	<h3>Poolish</h3>
	<p>
	  Bland vand, gær og honing. Bland så melet i.<br />
	  Lad stå 1 time ved stuetemperatur, derefter 16-24 timer på køl
	</p>
	<h3>Pizzadej</h3>
	<p>
	  Bland fordejen i vandet.<br />
	  Rør halvdelen af melet i.<br />
	  Tilføj så salt og resten af melet.
	</p>
	<p>
	  Bland til al væsken er optaget i melet.<br />
	  Hæld dejen ud på bord og ælt til den er samlet, men stadig klistret
	</p>
	<p>Dæk dejen til og vent i 15 min.</p>
	<p>
	  Kom lidt olivenolie på hænderne og 'rul' først dejen, derefter laves løft og
	  fold, mens det sikres at den del af dejen der er øverst forbliver øverst.<br
	  />
	  Fortsæt til dejen er blød og elastisk og ikke klistret.
	</p>
	<p>
	  Kom lidt olivenolie i dejskålen.<br />
	  Læg dejen i skålen, stadig med samme side op.<br />
	  Dæk skålen til og lad dejen hvile i 30 min.
	</p>
	<p>Herfter formes pizzaboller.</p>
	<p>
	  Kom lidt semulinamel på et fad, læg pizzabollerne med 3 fingres afstand, kom
	  lidt olivenolie på toppen af bollerne. Fadet filmes.
	</p>
	<p>
	  Lad dem hæve i 2 timer ved stuetemperatur. Bollerne skal være vokset sammen,
	  så er de klar til at blive lavet til pizzaer.
	</p>
  </div>

  <PizzaCalc />
</BaseLayout>
